.mainContainer {
  margin-top: 165px;
  min-height: 800px;
}

.githubCorner {
  svg {
    z-index: 9;
  }
}

@media (max-width: 575px) {
  .githubCorner svg {
    height: 60px;
    width: 60px;
  }
  .mainContainer {
    margin-top: 80px;
  }
}
