.historyByMonth {
  .loadingContent {
    width: 100%;
    text-align: center;
  }
  .title {
    margin: 32px 0;
    font-size: 2rem;
    line-height: 1.6;
    font-style: italic;
    text-align: center;
  }
}
