header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 135px;
  z-index: 9;
  background: #fff;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ededed;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.logo {
  height: 100%;
  display: flex;
  a {
    display: flex;
    align-items: center;
  }
  img {
    display: block;
    height: 60px;
  }
}

.inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
}

.historyEnter {
  color: #3f3f3f;
  font-weight: bold;
  &:link {
    color: #3f3f3f;
  }
  &:visited {
    color: #3f3f3f;
  }
  &:hover {
    color: #3f3f3f;
  }
  &:active {
    color: #3f3f3f;
  }
}
