footer {
  color: #999;
  .footer-bottom-wrap {
    padding-top: 32px;
    padding-bottom: 32px;
    border-top: 1px solid #dddddd;
  }

  .copyright-info {
    float: left;
    font-size: 12px;
    line-height: 32px;
  }

  a {
    color: #999999;
  }
}
