header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 135px;
  background: #fff;
  display: flex !important;
  align-items: center;
  border-bottom: 1px solid #ededed;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
  .blog-logo {
    height: 100%;
    display: flex;
    a {
      display: flex;
      align-items: center;
    }
    img {
      display: block;
      height: 60px;
    }
  }
}
