.loop {
  .post {
    display: flex;
    margin-bottom: 30px;
    &:hover .img-holder .featured-image {
      transform: scale(1.1, 1.1);
    }
    a {
      color: #3f3f3f;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
    }
    .img-holder {
      overflow: hidden;
      border-radius: 5px;
    }
    .post-inner-content {
      width: 100%;
      position: relative;
      overflow: hidden;
    }
  }
  .inner {
    padding: 10px 50px 10px 20px;
    position: relative;
  }
  h2 {
    font-size: 20px;
    margin: 5px 0;
    padding: 0;
  }
}

.post .img-holder .featured-image,
.post .excerpt:before {
  display: block;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

a:-webkit-any-link {
  cursor: pointer;
}

time {
  font-size: 14px;
}

time + .tags {
  font-size: 14px;
  padding-left: 10px;
  position: relative;
  border-bottom: 1px solid transparent;
}

.tags {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: 14px;
}

.loop .item.first .img-holder a:before,
.loop .item.first .excerpt:before,
.loop .item.first + .item .img-holder a:before,
.loop .item.first + .item .excerpt:before {
  padding-bottom: 66.66%;
}

.post .img-holder .featured-image:before,
.post .excerpt:before {
  display: block;
  content: '';
  width: 100%;
  padding-bottom: 75%;
}
