$navigation-color: #f5bb41;

.navigation {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 5px;
  border: 1px solid $navigation-color;
  padding: 10px 5px;
  width: 60px;
  text-align: center;
  .history-link {
    display: block;
    color: $navigation-color;
    padding: 0 5px;
    &:hover,
    &:link,
    &:visited,
    &:active {
      text-decoration: none;
    }
    &:hover {
      border-left: 2px solid $navigation-color;
    }
  }
}
