footer {
  color: #999;
  a {
    color: #999999;
  }
}

.footerBottomWrap {
  padding-top: 32px;
  padding-bottom: 32px;
  border-top: 1px solid #dddddd;
}

.copyrightInfo {
  font-size: 12px;
  line-height: 32px;
  text-align: left;
}